{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<!-- Beginning of section 1 -->
<div class="home-section">
	<a name="home"></a>
	<div id="intro" class="intro">
		<p>Hi, my name's Taylor. I don't know many icebreakers, so here's some quotes from a few really smart people.</p>
	</div>
 <!-- slider of blog posts? of interest? -->
 	{% include "quote/quotes.html" %}
</div>
<!-- End of Section 1 -->
<div class="section-seperator"></div>
<!-- Beginning of section 2 -->
<div class="home-section">
	<a name="about"></a>
	{% include "about/about.html" %}
</div>

<div class="section-seperator"></div>
<!-- Beginning of section 2 -->
<div class="home-section">
	<a name="skills"></a>
	<div id="skills-intro" class="intro">
		<p>I'm actually pretty good at a lot of things other than breaking the ice.</p>
	</div>
	{% include "skill/skill.html" %}
</div>
<!-- End of Section 2 -->
<div class="section-seperator"></div>
<!-- Beginning of section 3 -->
<div class="home-section">
	<a name="projects"></a>
	<div id="projects-intro" class="intro">
		<p>These are some things I've done. Most things I've written are proprietary and I can't show you. So, sorry about that.</p>
	</div>
    {% include "project/tiles.html" %}
</div>
<!-- End of Section 3 -->
<div class="section-seperator"></div>
<!-- Beginning of section 4 -->
<div class="home-section">
	<a name="contact"></a>
	<div id="contact-intro" class="intro">
		<p>Call me, beep me if you wanna reach me.</p>
	</div>
    {% include "contact/contact.html" %}
</div>
<!-- End of Section 4 -->


{% endblock %}