

/****************
    Slider
****************/

.slide-right {
    right:100%;
}

.slide-right.active {
    right:0;
}

.slide-left {
    left:100%;
}

.slide-left.active {
    left:0;
}

.fade-in {
    opacity:0;
}

.fade-in.active {
    opacity:1;
}

.active {
    display:block!important;
}

.transition-parent {
    display:none;
}

.transition-parent.active {
    display:block;
}
