body {
    background:url('/static/img/technoback.jpg') no-repeat fixed center;
    background-size:cover;
}

.section-seperator {
    border-color: black;
    border-width: 12px 0 12px 0;
    border-style: solid;
    height:80px;
}

.home-section {
    background-color:#f7f7f7;
    padding-top:20px;
    padding-bottom:20px;
}
.home-section .container {
    border:none;
    width: 100%;
    margin: 0 auto;
    max-width:1536px;
}
.home-section .container {
    width: 80%;
    margin: 0 auto;
    height:25%;
}

.hidden-cursor {
    visibility:hidden;
}
.intro {
    width:80%;
    margin:0 auto;
}