<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static "css/CC_Slider.css" %}">
    <link rel="stylesheet" href="{% static "css/contact.css" %}">
    <link rel="stylesheet" href="{% static "css/project.css" %}">
    <link rel="stylesheet" href="{% static "css/quote.css" %}">
    <link rel="stylesheet" href="{% static "css/skill.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">

    <script src="{% static "js/CC_Slider.js" %}"></script>
    <script src="{% static "js/contact.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    })
    </script>

    <title>CodeCrucial - Every Byte Counts</title>
</head>

<body>
    <div id="nav-bar">
            {% include "navbar.html" %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script>
    $('.nav-item a').click(function(){
        $('html, body').animate({
            scrollTop: $('[name="' + $.attr(this, 'href').substr(1) + '"]').offset().top
        }, 500);
        return false;
    });
    </script>
</body>
</html>