{% load static from staticfiles %}
{% load skills_filters %}
<div class="container">
	<h1>Skills:</h1>
    <div class="row">
    {% for skill in skills %}
        <div class="skill skill-{{skill.id}} col-xs-2" id="skill-{{skill.id}}" data-toggle="tooltip" data-placement="{% tooltipPlacement forloop.counter %}" title="{{skill.description}}">
            <div class="skill-image-wrapper">
                <div class="skill-image" style="background-image:url('{% static skill.image %}');"">
                </div>
            </div>
            <div class="skill-text">
                <p>{{skill.title}}</p>
                <div class="rating-wrapper">
                	<div class="rating">
	                	{% filter multiply:skill.rating %}
	                		<div class="rating-counter rating-count-{{skill.rating}} filled "></div>
	                	{% endfilter %}
	                	{% filter multiplyRemainder:skill.rating %}
	                		<div class="rating-counter"></div>
	                	{% endfilter %}
	                </div>
                </div>
            </div>
        </div> 
    {% endfor %}
    </div>
</div>